









COMPLIANCE E LEGAL REQUIREMENTS ----> É OUTRO TOPICO,

QUE NAO TEM RELACAO ESTRITA COM ACCOUNT SECURITY,

MAS QUE 
TEM A VER COM SECURITY...














COMPLIANCE -> VC QUER GARANTIR QUE VC 



MEET 

LEGAL REQUIREMENTS/COMPLIANCE...










PQ SE VC FALHAR EM SEGUIR ESSES REQUIREMENTS,

ISSO 

PODE 

SER 

1 PERIGO 


A SUA BUSINESS E A SEU AWS USAGE..











--. É POR ISSO QUE DEVEMOS MEET LEGAL REQUIREMENTS..













--> O AWS OFERECE VÁRIOS 

SERVICES QUE 


TE AJUDAM A __ BE COMPLIANT_ E 

A ENFORCE 
COMPLIANCE...















-- POR EXEMPLO,

TEMOS:






1) AWS CONFIG --> É UM SERVICE EM QUE 

PODEMOS 
DEFINIR 

COMO 

CERTOS 
SERVICES PODEM SER CONFIGURADOS, 



EM QUE PODEMOS DEFINIR CERTAS RULES PARA OS SERVICES....





--> NELE, PODEMOS CHECAR SE CERTOS SERVICES ESTAO SENDO NON-COMPLIANT... E AÍ 

FORCAR 

POLICIES E GUIDELINES,

POR MEIO 

DO BRING DESSES SERVICES BACK IN LINE,

PARA QUE 
SEJAM COMPLIANT COM AS RULES QUE VC SETTOU....












2) PARA ALGUMAS 



BUSINESSES,

VC TALVEZ QUEIRA PROVE QUE 

__ VC ESTÁ COMPLIANT,

PQ O __ PRÓPRIO AWS ESTÁ COMPLIANT --> VC QUER PROVAR QUE 

O 

AWS 


ESTÁ COMPLIANT COM CERTAS REGULATIONS -------> PARA ISSO  TEMOS O 

SERVICE 



""ARTIFACT"", EM QUE 

PODEMOS 


ACESSAR 


E BAIXAR COMPLIANCE REPORTS,


PUBLICADOS PELO AWS,




EM QUE PROVAM A VOCE, 

E A QUALQUER PESSOA,




A QUALQUER AUDITOR,

QUE 
SAO COMPLIANT 

COM CERTAS RULES E REGULATIONS... O QUE QUER DIZER QUE 

VC 


É COMPLIANT TAMBÉM,

PQ O AWS JÁ FAZ MEET DESSAS RULES...













ADICIONALMENTE,
ÀS VEZES SERÁ NECESSÁRIO 

PROVAR SUA COMPLIANCE,
ALÉM 

DA COMPLIANCE DO AWS...









--> NESSES CASOS,



VC PODE ""TRACK COMPLIANCE ISSUES"",



POR MEIO 

DE OUTRO SERVICE,

O 


__ AUDIT MANAGER -> 













AUDIT MANAGER --> COM ELE, VC PODE 

VER SE 


HÁ QUAISQUER PROBLEMAS DE COMPLIANCE NA SUA CONTA --> E EM QUE 
PODEMOS 

GENERATE AUDITOR-FRIENDLY REPORTS --> AÍ PODEMOS GARANTIR QUE 

SOMOS 
COMPLIANT 

COM CERTAS REGULATIONS...












--------> E NO AUDIT MANAGER,

VC PODE BASICAMENTE CRIAR SUAS PRÓPRIAS RULES A SEREM MET,

PARA ENTAO GERAR 1 REPORT QUE 
PROVA 

QUE 
ESSAS RULES FORAM MET... ---->  E AÍ O AWS REUNE DATA 


DE OUTROS SERVICES,
PARA 


CHECAR SE VC ESTÁ 

MEETING OS REQUIREMENTS.. E VC PODE INTEGRAR 

O 


AUDIT MANAGER COM O AWS CONFIG,
PARA TER AINDA MAIS 




DATA COLLECTION...













--> ESSES, É CLARO,

SAO SERVICES MAIS AVANCADOS,

QUE NAO VAO IMPORTAR PARA TODOS AS BUSINESS...


MAS PARA ALGUMAS BUSINESS, SAO CRUCIAIS...